.price {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.price__header { 
    display: flex;
    gap: 12px;
}

.price__value {
    font-size:  42px;
    font-weight: bold;
    color: #000;
}

.price__value--discount {
    color: #6C757D;
    text-decoration: line-through;
}

.price__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}