.room__block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.room__list {
    /* display: flex;
    width: 100%;
    flex-direction: row; */
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.room {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #000;
}

.room__title {
    font-size: 24px;
    font-weight: bold;
}

.room__info {
    font-size: 16px;
}

.room__price {
    font-size: 18px;
    font-weight: bold;
}